.editWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.lableWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 4rem;
    min-width: 40%;
}

.mainWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-around;

}

.spaceAround {
    display: flex; 
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

.overflow {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}


@media (max-width: 900px) {
    .lableWrapper {
        flex-direction: column;
        margin: 0;
    }
    .mainWrapper {
        width: 100%;
    }
    .overflow{
        padding-bottom: 4.5rem;
    }
}

