.todoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
    border-radius: 8px;
    min-height: 4rem;
    width: 60%;
    cursor: grab;
    touch-action: none;
}

.toDoWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action {
    min-height: 3.9rem; 
    border-radius: 8px;
    position: absolute;
    left: 20%;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width: 900px) {
    .todoContainer {
        width: 95%;
        margin: 1rem 0;
    }
    .action {
        left: 2%
    }
    
}